body {
    font-family: sans-serif;
}

.content {
    @include main-wrap;
}

.title {
    width: fit-content;
    margin: .75em auto;
    display: flex;
    position: relative;
    font-family: $majormono;
    font-size: 3rem;
    line-height: 1;
    color: $black;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    cursor: default;

    @include breakpoint($tiny) {
        font-size: 5rem;
    }

    @include breakpoint($small) {
        font-size: 9rem;
    }

    @include breakpoint($medium) {
        font-size: 11rem;
    }
}

.title__char {
    display: flex;
    position: relative;

    span {
        width: 100%;
        transition: all .4s;

        &:first-of-type {
            position: absolute;
            top: 0;
            left: 0;
        }
    }

    @include breakpoint($tiny) {
        text-align: center;
    }
}

.title--eclipse {
    background-image: url('/assets/autumn.jpg');

    .title__char {
        span {
            &:first-of-type {
                opacity: 0;
                transform: translate(0, -$spread1);
            }

            &:nth-of-type(2) {
                background: $white;
                mix-blend-mode: lighten;
            }
        }
    }

    &:hover {
        .title__char {
            span {
                &:first-of-type {
                    opacity: .55;
                    transform: translate(0);
                }

                &:nth-of-type(2) {
                    text-shadow: 0 0 $spread1 $yellow1, 0 0 $spread2 $yellow2;
                }
            }
        }
    }
}

.starry-wrapper {
    padding: 2em;
    background-image: url('/assets/milky-way.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    .title {
        margin: 0 auto;
    }
}

.title--starry {
    background-image: none;

    .title__char {
        span {
            &:first-of-type {
                opacity: 0;
                background: $blue;
                mix-blend-mode: darken;
            }

            &:nth-of-type(2) {
                opacity: .75;
                background: $white;
                mix-blend-mode: lighten;
            }
        }
    }

    &.no-wrap {
        -webkit-background-clip: text;
        color: transparent;
        background-clip: text;
        background-image: url('/assets/milky-way-darker.jpg');
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }

    &:hover {
        .title__char {
            span {
                &:first-of-type {
                    opacity: 1;
                }

                &:nth-of-type(2) {
                    opacity: 0;
                }
            }
        }
    }
}

.landscape-wrapper {
    padding: 1em;
    background-image: url('/assets/marsh.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    .title {
        top: .25em;
    }
}
